<!DOCTYPE html>
<html>
<head>
    <title>管理员登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1 class="login-header">小程序管理员登录</h1>
        {% if error %}
        <p style="color:red; text-align:center">{{ error }}</p>
        {% endif %}
        <form method="POST">
            <div>
                <input type="text" name="username" placeholder="用户名" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="密码" required>
            </div>
            <button type="submit" class="nav-button">登录</button>
        </form>
    </div>
</body>
</html>